<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h1 class="page-heading">ユーザー新規登録ページ</h1>
      <h2 class="sub-heading">会員情報入力</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="field"><span class="indispensable">必須</span>
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname, autofocus: true, class:"form-input" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field"><span class="indispensable">必須</span>
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, class:"form-input", autocomplete: "email" %>
        </div>
      </div>
      
      <div class="form-group">
        <%if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
        <div class="field"><span class="indispensable">必須</span>
          <%= f.label :password, "パスワード（6文字以上）" %>
          <p class='info-text'>※英字と数字の両方を含めて設定してください</p><br />
          <%= f.password_field :password, class:"form-input", autocomplete: "new-password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="field"><span class="indispensable">必須</span>
          <%= f.label :password_confirmation, "パスワード（確認）" %>
          <p class='info-text'>※同じパスワードを入力して下さい</p><br />
          <%= f.password_field :password_confirmation, class:"form-input", autocomplete: "new-password" %>
        </div>
      <% end %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'><span class="indispensable">必須</span>
          <label class="form-text">お名前(全角)</label>
        </div>
        <div class="field">
          <%= f.text_field :last_name, class:"form-input-name", id:"last-name", placeholder:"例) 佐藤" %>
          <%= f.text_field :first_name, class:"form-input-name", id:"first-name", placeholder:"例) 太郎" %>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'><span class="indispensable">必須</span>
          <label class="form-text">お名前カナ(全角)</label>
        </div>
        <div class="field">
          <%= f.text_field :last_name_kana, class:"form-input-name", id:"last-name", placeholder:"例) サトウ" %>
          <%= f.text_field :first_name_kana, class:"form-input-name", id:"first-name", placeholder:"例) タロウ" %>
        </div>
      </div>
      <div class="form-group">
        <div class='field"'><span class="indispensable">必須</span>
          <label class="form-text">生年月日</label>
          <p class='info-text'>※ 本人情報は正しく入力してください。</p>
        </div>
        <div class='input-birth-wrap'>
          <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birthday",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit :"新規登録", class:"sign-up" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

